
/*  */
/*  */
/*  */

@media only screen and (min-device-width: 960px) and (orientation: landscape) {

  html, body {
    font-family: sans-serif; 
    color: white; 
    display: block;
    overflow: hidden;
  }
  
  #title {
    text-align: center;
    padding: 4px;
  }

  #title_screen {
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95vw;
    height: 95vh;
    background-image:
      radial-gradient(
        grey,
        black
      );
      display: grid;
      grid-template-rows: 9fr 1fr;
  }

  #title_body {
    vertical-align: middle;
  }

  #title h1 {
    font-size: 72px;
  }

  #instructions div { 
    text-align: center;
    margin-left: 25%;
    width: 50%;  
    margin: 8px auto;
  }

  #instructions ul {
    list-style-type: square;
    text-indent: 5px;
    width: 100%;  
  }

  #instructions h2 {
    text-align: center;
    font-size: 2rem;
  }

  #instructions li {
    margin-left: 12%;
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  #play_screen h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  #menu li {
    width: 70%;
  }

  #title_screen footer {
    min-height: 10vh;
    display: fixed;
    bottom: 0;
    padding: 2px;
    background-image:
      linear-gradient(
        grey,
        black
      );
  }

  #title_screen footer div {
    text-align: center;
    vertical-align: middle;
    left: 10vw;
    padding: auto;
  }

  #play_screen {
    margin: 0 auto;
    max-width: 95vw;
    height: 95vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    grid-row: 1fr 6fr 1fr;
    min-width: 50%;
  }

  main {
    display: grid;
    min-height: 75vh; 
    grid-template-columns: 1fr 1fr;
    background-color: black;
  }

  header {
    height: 10vh;
    background-image:
      linear-gradient(
        black,
        grey
      );
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header h2 {
    text-align: center;
  }
  
  #left, #right {
    min-height: 97%;
    max-height: 97%;
    width: 97%;
    
    margin: auto auto;
    background-image:
      radial-gradient(
        grey,
        black
      );
  }

  #play_screen footer {
    min-height: 10vh;
    background-image:
      linear-gradient(
        grey,
        black
      );
  }

  #play_screen footer div {
    margin-left: 5vw;
    bottom: 3vh;
    left: 10vw;
    right: 10vw;
    width: inherit;
  }

  #left_box, #right_box {
    display: block;
    text-align: center;
    margin-top: 12.5%;
  }

  #left button, #right button {
    height: 12vh;
    background-image:
      linear-gradient(
        silver,
        grey
      );
    border: 7px solid black;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 12.5%;
  }

  #start {
    height: 12vh;
    background-image:
      linear-gradient(
        silver,
        grey
      );
    border: 5px solid black;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    
  }

  #left_line, #right_line {
    display: none;
    text-align: center;
    margin-bottom: 12.5%;
    color: black;
  }

  #left_verdict, #right_verdict {
    display: none;
    text-align: center;
    margin-bottom: 12.5%;
  }

  #left_response, #right_response {
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
}
